.App {
  text-align: center;
}

.App-header {
  background-color: #3E8432;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}